/* TYPOGRAPHY  */
h1 {
    color: #217A70;
    font-family: 'Amita', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.24 px;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h2 {
    color: #B54B36;
    font-family: 'Amita', cursive;
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.24 px;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3 {
    color: #B54B36;
    font-family: 'Amita', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24 px;
    margin-block-end: 0;
    margin-block-start: 0;
}

h4 {
    color: #217A70;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.24 px;
    margin-block-end: 0;
    margin-block-start: 0;
}

p {
    color: #264653;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-block-end: 0;
    margin-block-start: 0;
}

@font-face {
    font-family: myFirstFontSFProTextP;
    src: url(sansation_light.woff);
}

* {
    font-family: myFirstFontSFProTextP;
}

.pSmall {
    color: #264653;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 16px;
    margin-block-end: 0;
    margin-block-start: 0;
}

/* italic class for p italic */

/* SFproTextDefault class would target header titles in iOS font  */



/* TEXT ALIGN Styles  */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}



/* BUTTON STYLES */
button {
    border: 3px solid #264653;
    border-radius: 4px;
    color: #ffffff;
    box-sizing: border-box;
    background-color: #264653;
    font-style: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
}

button:hover {
    background-color: #315F76;
    color: #F1F0F4;
    border: 3px solid #315F76;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-style: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
}


/* BACK TO TOP BUTTON */



/* HEADER */
#mobile-header {
    background-color: #E9C46A;
    max-width: 480px;
    height: 92px;
    z-index: 7;
    top: 0;
    display: flex;
    flex-direction: row;
}

.headerRow {
    display: flex;
    flex-direction: row;
}

.backButton {
    width: 25%;
}

.headerTitle {
    width: 50%;
}

/* .headerWhitespace {
    width: 25%;
} */


/* HERO */


/* CATEGORIES GRID SECTION */


/* CONTRIBUTE INTRO SECTION */
section {
    background-color: #FFFBF8;
    padding-bottom: 4rem;
    max-width: 480px;
}

.tellStoryButton {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.writeStoryButton {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.imgPlaceholder {
    background-color: lightgrey;
    width: 100%;
    height: 200px;
}


/* RECENT CONTRIBUTIONS SECTION */


/* MY CONTRIBUTIONS SECTION */
.addButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* FOOTER */
footer {
    background-color: #E9C46A;
    max-width: 480px;
}

.tabIconInactive {
    color: #264653;

}

.tabIconActive {
    color: #217A70;
}

.footerRow {
   display: flex;
   flex-direction: row;
}

.footerCol {
    width: 25%;
    padding-top: 1rem;
}

.footerTitle {
    padding-top: 0.5rem;
}